body{
    background-image: url(../images/background.png);
}

#question{
    font-size: 30px;
}

h1{
    padding: 20px;
}

.choices{
    padding: 2px 10px;
    margin: 5px auto;
    width: 50%;
    color: black;
    border-radius: 10px;
    transition: 0.5s all;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(233, 233, 233);
}

.choices:hover{
    font-size: 20px;
    background-color:lightblue;
}

.correct{
    font-size: 22px !important;
    background-color: lightgreen !important;
    color: black !important;
}

.incorrect{
    font-size: 22px !important;
    background-color: lightcoral !important;
    color: black !important;
}

.notChosen{
    color: gray;
}

.pointer {
    cursor: pointer;
}

#timer{
    color: green;
}

.disabled {
    pointer-events: none;  /**<-----------*/
}

.category h5{
    border-bottom: 1px black solid;
}

.categoryDisplay{
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.7);
}

.col-6 img{
    width: 100%;
    padding: 6px 0px 6px 6px;
}

.col-6 p{
    width: 100%;
    padding: 6px 6px 6px 0px;
}

.firstCol{
    padding-right: 6px !important;
}

.secondCol{
    padding-left: 6px !important;
}