
.choices{
    color: black;
    border-radius: 10px;
}

.choices:hover{
    font-size: 20px;
    border-radius: 10px;
}

.correct{
    font-size: 20px;
    color: green;
}

.incorrect{
    font-size: 20px;
    color: red;
}
