body{
    background-image: url(../images/background.png);
}

#question{
    font-size: 30px;
}

h1{
    padding: 20px;
}

.choices{
    padding: 2px 10px;
    margin: 5px auto;
    width: 50%;
    color: black;
    border-radius: 10px;
    transition: 0.5s all;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(233, 233, 233);
}

.choices:hover{
    font-size: 20px;
    background-color:lightblue;
}

.correct{
    font-size: 22px !important;
    background-color: lightgreen !important;
    color: black !important;
}

.incorrect{
    font-size: 22px !important;
    background-color: lightcoral !important;
    color: black !important;
}

.notChosen{
    color: gray;
}

.pointer {
    cursor: pointer;
}

#timer{
    color: green;
}

.disabled {
    pointer-events: none;  /**<-----------*/
}

.category h5{
    border-bottom: 1px black solid;
}

.categoryDisplay{
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.7);
}

/*-----------------Extra Small -----------------*/

@media (max-width: 766.99px) { 
    img{
        margin: auto;
        max-width: 99%;
        padding: 10px 10px 4px 10px;
    }
    
    p{
        margin: 3px 0px !important;
        width: 99%;
        padding: 6px 6px 6px 6px;
    }
    
    /* .firstCol{
        padding-right: 6px !important;
    }
    
    .secondCol{
        padding-left: 6px !important;
    } */
    
    #categoryAll{
        width: 90%;
    }
}

/* -----------Small-----------
@media (min-width: 577px) and (max-width: 768.99px){

} */

/* -----------Medium----------- */
@media (min-width: 767px) and (max-width: 992.99px){
    img{
        margin: auto;
        max-width: 99%;
        padding: 10px 0px 10px 10px;
    }
    
    p{
        margin: 3px 0px !important;
        width: 99%;
        padding: 6px 0px;
        font-size: 20px;
    }
    
    .firstCol{
        padding-right: 6px !important;
    }
    
    .secondCol{
        padding-left: 6px !important;
    }
    
    #catAll{
        width: 80%;
    }
}

/* -----------Large----------- */
@media (min-width: 993px){
    img{
        margin: auto;
        max-width: 99%;
        padding: 10px 0px 10px 10px;
    }
    
    p{
        margin: 3px 0px !important;
        width: 99%;
        padding: 6px 0px;
        font-size: 20px;
    }
    
    .firstCol{
        padding-right: 6px !important;
    }
    
    .secondCol{
        padding-left: 6px !important;
    }
    
    #catAll{
        width: 60%;
    }
}